.menu {
  // background-color: hotpink;
  margin-bottom: 0;
  display: flex;
  &__item {
    // background-color: lightblue;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
       > a {
        -webkit-transition: color 300ms;
        transition: color 300ms;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        &:before {          
          content: "";
          position: absolute;
          z-index: 10;
          top: 30px;
          left: 0;
          right: 0;
          height: 5px;
          background: var(--color-1);
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
        }
        &:hover:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      .submenu,
      .submenu__container {
        display: block;
        opacity: 1;
        transition: all .5s;
      }
    }
  }
  .submenu {
    // background-color: indigo;
    display: none;
    opacity: 0;
    &__item {
      // background-color: violet;
      line-height: 2.25;
    }
    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
    &__container {
      display: none;
      opacity: 0;
      background-color: var(--white);
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      padding-bottom: 20px;
      &__center {
        // background-color: lightseagreen;
        max-width: 1158px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        // background-color: slateblue;
        // padding-top: 20px;
        width: calc(100% / 5);
      }
    }
  }
}

// VERSIÓN MÓVIL
.offcanvas-body {
  position: relative;
  .btn-close {
    position: absolute;
    top: 28px;
    right: 15px;
    font-size: var(--fsz-5);
    z-index: 10;
  }
}

.subcategory {
  margin-bottom: 0;
  &__link {
    font-size: var(--fsz-4);
  }
}