.top-offers {
  // background-color: tomato;
  &__carousel {
    // background-color: lightblue;
  }
  &__title {
    // background-color: green;
  }
  &__item {
    background-color: var(--white);
    border: 1px solid var(--gray-2);
    display: block;
    margin: 5px;
    padding: 10px 10px 25px;
    position: relative;
    left: -5px;
    &:hover {
      color: var(--gray-1);
      box-shadow: 5px 5px 5px var(--gray-3);
      transition: all .5s;
    }
    &__content__image {
      // background-color: mediumslateblue;
      position: relative;
      .shipping,
      .dues,
      .discount {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
      }
      .dues {
        left: auto;
        right: 0;
      }
      .dues,
      .discount {
        top: auto;
        bottom: 5px;
      }

      .discount {
        width: 60px;
      }
      
    }
    &__title {
      // background-color: magenta;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__discount {
      // background-color: mediumaquamarine;
      font-size: var(--fsz-5);
      margin-bottom: 0;
      &__oldprice {
        // background-color: olive;
        color: var(--color-4);
        margin-right: 5px;
        position: relative;
        text-decoration: line-through;
        &::before {
          content: '$';
          // font-size: ;
        }
      }
      .tag__discount {
        background-color: var(--color-1);
        color: var(--white);
        font-size: var(--fsz-2);
        font-weight: var(--semi-bold);
        text-transform: uppercase;
        padding: 2px 3px;
        border-radius: 3px;
      }
    }
    &__newprice {
      font-size: var(--fsz-6);
      color: var(--black);
      font-weight: var(--semi-bold);
      text-align: center;
      &::before {
        content: '$';
        margin-right: 5px;
      }
    }
    &__shipping,
    &__withdraw {
      color: var(--color-2);
      text-align: center;
      letter-spacing: -0.3px;
    }
  }
}