.top-offers {
  background-color: tomato;
  &__carousel {
    background-color: lightblue;
    .slick-slide {
    }
  }
  &__title {
    background-color: green;
  }
  &__item {
    background-color: lightcoral;
    display: block;
    padding: 5px;
    &__content__image {
      background-color: mediumslateblue;
      position: relative;
      .shipping,
      .dues,
      .discount {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
      }
      .dues {
        left: auto;
        right: 0;
      }
      .dues,
      .discount {
        top: auto;
        bottom: 5px;
      }

      .discount {
        width: 60px;
      }
      
    }
    &__title {
      background-color: magenta;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__discount {
      background-color: mediumaquamarine;
      font-size: var(--fsz-5);
      &__oldprice {
        background-color: olive;
        color: var(--color-4);
        margin-right: 5px;
        position: relative;
        text-decoration: line-through;
        &::before {
          content: '$';
          // font-size: ;
        }
      }
      .tag__discount {
        background-color: var(--color-1);
        color: var(--white);
        font-size: var(--fsz-2);
        font-weight: var(--semi-bold);
        text-transform: uppercase;
        padding: 2px 3px;
        border-radius: 3px;
      }
    }
  }
}