[class*="title--"],
[class*="subtitle--"] {
  margin: 0;
  line-height: 1;
  font-weight: var(--semi-bold);
  color: var(--black);
}

.title--1 {
  margin-bottom: 15px;
}

.subtitle--1 {
  color: var(--white);
  font-size: var(--fsz-5);
  text-transform: uppercase;
}

.title--featured {
  background-image: linear-gradient(-90deg,
                                    var(--color-2),
                                    var(--color-1));
  color: var(--white);
  font-size: var(--fsz-7);
  display: inline-block;
  padding: 16px;
  margin-left: 20px;
}