.modal {
  &__header__buttons {
    width: 225px;
  }
  [class*="category__"] {
    font-size: var(--fsz-1);
  }
}

.filter {
  margin-top: -10px;
  margin-bottom: 10px;
  &__text {
    font-size: var(--fsz-4);
    font-weight: var(--bold);
    color: var(--color-1);
    text-transform: uppercase;
    margin-left: 15px;
  }
}