body {
  font-family: var(--font-family);
  font-size: var(--fsz-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--gray-6);
  flex-grow: 1;
  padding-bottom: 50px;
}