// IMPORTANDO BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";

// OVERRIDES
$primary: var(--color-1);

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a {
    color: var(--gray-1);
    text-decoration: none;
    &:hover {
        color: var(--gray-1);
    }
}

figure {
    margin-bottom: 0;
}

button,
input {
    border: none;
}

input {
    padding: 12px;
    letter-spacing: -.5px;
    font-size: var(--fsz-2);
    height: var(--h-input);
    &:focus-visible {
        outline: none;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: var(--w-slider-control);
    height: var(--w-slider-control);
}

.carousel-indicators {
    margin-bottom: 0;
    [data-bs-target] {
        width: var(--w-slider-indicator);
        height: var(--w-slider-indicator);
        background-color: var(--gray-3);
        border-radius: 50%;
        &.active {
            background-color: var(--gray-4);
        }
    }
}

.pagination {
    margin-bottom: 0;
    .page-link {
        color: var(--color-1);
        margin: 10px 10px 0;
        font-size: var(--fsz-5);
        border-radius: 5px;a {}
        border-color: var(--gray-3);
    }
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--gray-1);
}

.accordion-button::after {
    display: none;
}

.accordion-button:focus {
    box-shadow: none;
}