// BREAKPOINT: MEDIUM
@media screen and (min-width: 768px) {

  .header {
    padding-top: 0;
    padding-bottom: 0;
    &__top {
      background-color: var(--color-1);
      height: var(--h-header);
      font-size: var(--fsz-3);
      &__links {
        color: var(--white);
        margin-right: 20px;        
        font-weight: var(--regular);
        display: flex;
        align-items: center;
        &:hover {
          color: var(--white);
      }
        svg {
          color: var(--white);
          margin-right: 5px;
        }
      }
    }
    &__main {
      &__logo {
          padding-top: 10px;
          padding-bottom: 10px;
             &__img {
                 width: 80px;
                 margin-left: 0;
             }
        }
    }
    &__footer {
        // height: var(--h-header-menu);
        line-height: var(--h-header-menu);
        border-top: 1px solid var(--gray-2);
        border-bottom: 1px solid var(--gray-2);
    }
  }

  .search {
    &__input {
      font-size: var(--fsz-4);
      height: var(--h-input-2);
    }
  }

  .slider {
    &__image {
      height: var(--h-slider-image);
    }
  }

  .category {
    &__image {
      background-color: var(--white);
      border-radius: 50%;
      padding: 10px;
      &:hover {
        box-shadow: 5px 5px 5px var(--gray-3);
        transition: all .3s;
      }
    }
    &__title {
      margin-top: 10px;
      font-size: var(--fsz-2);
      font-weight: var(--semi-bold);
    }
    &__grid {
      .top-offers__item {
        left: 6px;
        margin: 6px;
      }
    }
  }

  .product {
    &__image {
      .slick-prev {
        left: 60px;
      }
      .slick-next {
        right: 60px;
      }
      .slider-nav {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
          width: 100px;
        }
      }
    }
  }

}