.category {
  // background-color: hotpink;
  padding-top: 30px;
  padding-bottom: 30px;
  &__image {
    // background-color: green;
  }
  &__title {
    // background-color: lightseagreen;
    color: var(--gray-5);
    font-size: var(--fsz-3);
    font-weight: var(--medium);
  }
  &__more {
    margin-top: 20px;
  }

  &__featured__carousel {
    background-color: var((--white));
    border: 1px solid var(--gray-2);
    margin-top: 20px;
    padding-bottom: 20px;
    .top-offers__carousel {
      margin-top: 20px;
    }
    .top-offers__item {
      margin: 0;
      border: none;
    }
  }

  &__aside {
    background-color: hotpink;
    margin-top: 6px;
    // font-size: var(--fsz-1);
    .breadcrumb {
      &-item {
        a {
          &:hover {
            color: var(--color-2);
          }
        }
      }
    }
    &__title {
      background-color: greenyellow;
    }
    &__results {
      background-color: lightseagreen;
      margin-top: 15px;
      &__number {
        background-color: lightskyblue;
        font-weight: var(--semi-bold);
      }
    }
    &__search {
      background-color: mediumpurple;
      &__select {
        background-color: transparent;
        border: none;
        font-size: var(--fsz-4);
        font-weight: var(--semi-bold);
        margin-left: 5px;
      }
    }
  }

  &__grid {
    // background-color: hotpink;
    .top-offers__item {
      left: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
}