.category {
  // background-color: hotpink;
  padding-top: 30px;
  padding-bottom: 30px;
  &__image {
    // background-color: green;
  }
  &__title {
    // background-color: lightseagreen;
    color: var(--gray-5);
    font-size: var(--fsz-3);
    font-weight: var(--medium);
  }
  &__more {
    margin-top: 20px;
  }

  &__featured__carousel {
    background-color: var((--white));
    border: 1px solid var(--gray-2);
    margin-top: 20px;
    padding-bottom: 20px;
    .top-offers__carousel {
      margin-top: 20px;
    }
    .top-offers__item {
      margin: 0;
      border: none;
    }

  }
}