.header {
  background-color: tomato;
  margin-top: 15px;
  [class*="bi-"]::before {
      font-size: var(--size-icons-1);
      color: var(--gray-1);
  }
  &__top {
      background-color: lightblue;
  }
  &__main {
      background-color: lightseagreen;
      &__logo {
          background-color: lightgreen;
           &__img {
               width: 40px;
               margin-left: 20px;
           }
      }
      &__cart {
          background-color: magenta;
      }
  }
  &__footer {
      background-color: lime;
  }
}

.my-account {
  background-color: green;
  margin-right: 20px;
  .bi-person-circle {
    margin-right: 10px;
  }
}

.search {
  background-color: orangered;
  border-radius: var(--border-radius-1);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-1);
  &__input {
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-1);
  }
  &__button {
    background-color: var(--color-1);
    color: var(--white);
    width: 50px;
    .bi-search::before {
      color: var(--white);
      font-size: var(--size-icons-2);
    }
  }
}