.product {
  // background-color: hotpink;
  padding-top: 10px;

  .bg {
    background-color: var(--white);
  }
  &__image {
    height: 100%;
    .slick-prev {
      left: 2.5px;
    }
    .slick-next {
      // left: auto;
      right: 2.5px;
    }
    .slider-for {
      img {
        margin-right: auto;
        margin-left: auto;
        // border-bottom: 1px solid var(--gray-3);
      }
    }
    .slider-nav {
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        width: 50px;
      }
    }
  }
  &__description,
  &__features {
    padding: 20px;
    // &__title {
    //   background-color: turquoise;
    // }
    .top-offers__item__discount {
      font-size: var(--fsz-8);
      .tag__discount {
        font-size: var(--fsz-5);
        margin-left: 5px;
      }
    }
    &__price {
      color: var(--black);
      font-weight: var(--semi-bold);
      font-size: var(--fsz-7);
      &::before {
        content: '$';
      }
    }
    &__button {
      margin-top: 30;
    }

  }
  &__carousel {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .top-offers {
    &__carousel {
      margin-top: 20px;
    }
    &__item {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &__features {
    margin-top: 20px;
    &__item {
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px solid var(--gray-3);
      font-size: var(--fsz-5);
      &__title {
        color: var(--black);
        font-weight: var(--semi-bold);
      }
    }
  }
  &__description__text {
    margin-top: 50px;
    &__item {
      text-align: left;
      font-size: var(--fsz-4);
    }
  }
}