:root {
  --font-family: "Work Sans", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --fsz-1: 14px;
  --fsz-2: 15px;
  --fsz-3: 13px;
  --fsz-4: 16px;
  --fsz-5: 18px;
  --fsz-6: 22px;
  --fsz-7: 32px;
  --fsz-8: 26px;
  --h-header: 36px;
  --h-header-menu: 50px;
  --w-slider-control: 4rem;
  --w-slider-indicator: 6px;
  --h-slider-image: 300px;
  --color-1: #d1232a;
  --color-2: #229547;
  --color-3: #f1f1f1;
  --color-4: #888888;
  --color-5: #440099;
  --color-6: #208041;
  --white: #ffffff;
  --black: #000000;
  --size-icons-1: 1.5rem;
  --size-icons-2: 18px;
  --gray-1: #4a4a4a;
  --gray-2: #dadada;
  --gray-3: #c9c7c7;
  --gray-4: #807f80;
  --gray-5: #484848;
  --gray-6: #f5f5f5;
  --h-input-1: 38px;
  --h-input-2: 44px;
  --border-radius-1: 4px;
}

body {
  font-family: var(--font-family);
  font-size: var(--fsz-1);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  background-color: var(--gray-6);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 50px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header [class*=bi-]::before {
  font-size: var(--size-icons-1);
  color: var(--gray-1);
}
.header__main__logo__img {
  width: 40px;
  margin-left: 20px;
}
.my-account {
  margin-right: 20px;
}
.my-account .bi-person-circle {
  margin-right: 10px;
}

.search {
  border-radius: var(--border-radius-1);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-1);
}
.search__input {
  color: var(--gray-1);
  border-radius: var(--border-radius-1);
}
.search__button {
  background-color: var(--color-1);
  color: var(--white);
  width: 45px;
}
.search__button .bi-search::before {
  color: var(--white);
  font-size: var(--size-icons-2);
}

.geo__icon {
  margin-right: 1px;
}
.geo__text {
  font-size: var(--fsz-3);
  margin-top: -5px;
}
.geo__text__city {
  color: var(--color-2);
}

.category {
  padding-top: 30px;
  padding-bottom: 30px;
}
.category__title {
  color: var(--gray-5);
  font-size: var(--fsz-3);
  font-weight: var(--medium);
}
.category__more {
  margin-top: 20px;
}
.category__featured__carousel {
  background-color: var(--white);
  border: 1px solid var(--gray-2);
  margin-top: 20px;
  padding-bottom: 20px;
}
.category__featured__carousel .top-offers__carousel {
  margin-top: 20px;
}
.category__featured__carousel .top-offers__item {
  margin: 0;
  border: none;
}
.category__aside {
  margin-top: 6px;
}
.category__aside .breadcrumb-item a:hover {
  color: var(--color-2);
}
.category__aside__results {
  margin-top: 15px;
}
.category__aside__results__number {
  font-weight: var(--semi-bold);
}
.category__aside__search__select {
  background-color: transparent;
  border: none;
  font-size: var(--fsz-4);
  font-weight: var(--semi-bold);
  margin-left: 5px;
}
.category__aside__search__list__title {
  margin-top: 25px;
  margin-bottom: 10px;
}
.category__aside__search__list__item {
  line-height: 2.25;
}
.category__aside__search__list__link:hover {
  color: var(--gray-1);
}
.category__aside__search__list__link label:hover {
  cursor: pointer;
  text-decoration: underline;
}
.category__aside__search__list__link input {
  background-color: transparent;
  width: 18px;
  height: 18px;
  position: relative;
  bottom: -5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid var(--gray-3);
}
.category__aside__search__list__link input:hover {
  cursor: pointer;
}
.category__grid .top-offers__item {
  left: 0;
  margin-right: 0;
  margin-left: 0;
}

.product {
  padding-top: 20px;
}
.product__image {
  background-color: var(--white);
  border: 1px solid var(--gray-3);
}
.product__image .slick-prev {
  left: 2.5px;
}
.product__image .slick-next {
  right: 2.5px;
}
.product__image .slider-for img {
  margin-right: auto;
  margin-left: auto;
}
.product__image .slider-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.product__image .slider-nav img {
  width: 50px;
}

.footer {
  background-color: var(--color-2);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.footer::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__logo, .footer__description, .footer__column {
  position: relative;
  z-index: 10;
}
.footer__logo__image {
  width: 125px;
}
.footer__description__item {
  margin-bottom: 10px;
}
.footer__description__item:last-child {
  margin-bottom: 0;
}
.footer__description__link, .footer__description__text {
  color: var(--white);
  font-size: var(--fsz-1);
  font-weight: var(--semi-bold);
}
.footer__description__link:hover, .footer__description__text:hover {
  color: var(--white);
  text-decoration: underline;
}
.footer__description__text:hover {
  text-decoration: none;
}
.footer__column__list {
  padding-top: 10px;
}
.footer__column__list__item {
  line-height: 2;
}
.footer__column__list__link {
  color: var(--white);
  font-size: var(--fsz-1);
  font-weight: var(--light);
  text-transform: capitalize;
}
.footer__column__list__link:hover {
  color: var(--white);
  text-decoration: underline;
}

.slider {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.top-offers__item {
  background-color: var(--white);
  border: 1px solid var(--gray-2);
  display: block;
  margin: 5px;
  padding: 10px 10px 25px;
  position: relative;
  left: -5px;
}
.top-offers__item:hover {
  color: var(--gray-1);
  -webkit-box-shadow: 5px 5px 5px var(--gray-3);
          box-shadow: 5px 5px 5px var(--gray-3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.top-offers__item__content__image {
  position: relative;
}
.top-offers__item__content__image .shipping,
.top-offers__item__content__image .dues,
.top-offers__item__content__image .discount {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
}
.top-offers__item__content__image .dues {
  left: auto;
  right: 0;
}
.top-offers__item__content__image .dues,
.top-offers__item__content__image .discount {
  top: auto;
  bottom: 5px;
}
.top-offers__item__content__image .discount {
  width: 60px;
}
.top-offers__item__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-offers__item__discount {
  font-size: var(--fsz-5);
  margin-bottom: 0;
}
.top-offers__item__discount__oldprice {
  color: var(--color-4);
  margin-right: 5px;
  position: relative;
  text-decoration: line-through;
}
.top-offers__item__discount__oldprice::before {
  content: "$";
}
.top-offers__item__discount .tag__discount {
  background-color: var(--color-1);
  color: var(--white);
  font-size: var(--fsz-2);
  font-weight: var(--semi-bold);
  text-transform: uppercase;
  padding: 2px 3px;
  border-radius: 3px;
}
.top-offers__item__newprice {
  font-size: var(--fsz-6);
  color: var(--black);
  font-weight: var(--semi-bold);
  text-align: center;
}
.top-offers__item__newprice::before {
  content: "$";
  margin-right: 5px;
}
.top-offers__item__shipping {
  font-weight: var(--semi-bold);
}
.top-offers__item__shipping, .top-offers__item__withdraw {
  color: var(--color-2);
  text-align: center;
  letter-spacing: -0.3px;
}

[class*=button--] {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--color-1);
  color: var(--color-1);
  text-transform: uppercase;
  font-size: var(--fsz-4);
  font-weight: var(--medium);
}

[class*=title--],
[class*=subtitle--] {
  margin: 0;
  line-height: 1;
  font-weight: var(--semi-bold);
  color: var(--black);
}

.title--1 {
  margin-bottom: 15px;
}

.subtitle--1, .subtitle--2, .subtitle--3 {
  color: var(--white);
  font-size: var(--fsz-5);
  text-transform: uppercase;
}

.title--featured {
  color: var(--black);
  font-size: var(--fsz-7);
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 20px;
  position: relative;
}
.title--featured::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -5px;
  background-color: var(--color-2);
}

.subtitle--2, .subtitle--3 {
  color: var(--black);
  font-size: var(--fsz-8);
}

.subtitle--3 {
  font-size: var(--fsz-4);
  font-weight: var(--bold);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__top {
    background-color: var(--color-1);
    height: var(--h-header);
    font-size: var(--fsz-3);
  }
  .header__top__links {
    color: var(--white);
    margin-right: 20px;
    font-weight: var(--regular);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__top__links:hover {
    color: var(--white);
  }
  .header__top__links svg {
    color: var(--white);
    margin-right: 5px;
  }
  .header__main__logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__main__logo__img {
    width: 80px;
    margin-left: 0;
  }
  .header__footer {
    height: var(--h-header-menu);
    line-height: var(--h-header-menu);
    border-top: 1px solid var(--gray-2);
    border-bottom: 1px solid var(--gray-2);
  }

  .search__input {
    font-size: var(--fsz-4);
    height: var(--h-input-2);
  }

  .slider__image {
    height: var(--h-slider-image);
  }

  .category__image {
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
  }
  .category__image:hover {
    -webkit-box-shadow: 5px 5px 5px var(--gray-3);
            box-shadow: 5px 5px 5px var(--gray-3);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .category__title {
    margin-top: 10px;
    font-size: var(--fsz-2);
    font-weight: var(--semi-bold);
  }
  .category__grid .top-offers__item {
    left: 6px;
    margin: 6px;
  }

  .product__image .slick-prev {
    left: 25px;
  }
  .product__image .slick-next {
    right: 25px;
  }
  .product__image .slider-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .product__image .slider-nav img {
    width: 100px;
  }
}