:root {
  --font-family: "Work Sans", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --fsz-1: 14px;
  --fsz-2: 15px;
  --fsz-3: 13px;
  --color-1: #654bb9;
  --color-2: #006afd;
  --white: #ffffff;
  --black: #000000;
  --size-icons-1: 1.5rem;
  --size-icons-2: 18px;
  --gray-1: #4a4a4a;
  --h-input: 38px;
  --border-radius-1: 4px;
}

body {
  font-family: var(--font-family);
  font-size: var(--fsz-1);
}

.header {
  background-color: tomato;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header [class*=bi-]::before {
  font-size: var(--size-icons-1);
  color: var(--gray-1);
}
.header__top {
  background-color: lightblue;
}
.header__main {
  background-color: lightseagreen;
}
.header__main__logo {
  background-color: lightgreen;
}
.header__main__logo__img {
  width: 40px;
  margin-left: 20px;
}
.header__main__cart {
  background-color: magenta;
}
.header__footer {
  background-color: lime;
}

.my-account {
  background-color: green;
  margin-right: 20px;
}
.my-account .bi-person-circle {
  margin-right: 10px;
}

.search {
  background-color: orangered;
  border-radius: var(--border-radius-1);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-1);
}
.search__input {
  border-radius: var(--border-radius-1);
  border: 1px solid var(--color-1);
}
.search__button {
  background-color: var(--color-1);
  color: var(--white);
  width: 50px;
}
.search__button .bi-search::before {
  color: var(--white);
  font-size: var(--size-icons-2);
}

.geo__icon {
  margin-right: 1px;
}
.geo__text {
  font-size: var(--fsz-3);
  margin-top: -5px;
}
.geo__text__city {
  color: var(--color-2);
}