:root {
  --font-family   : 'Work Sans', sans-serif;
  --light         : 300;
  --regular       : 400;
  --medium        : 500;
  --semi-bold     : 600;
  --bold          : 700;
  --fsz-1         : 14px;

  --black         : #000000;

  --size-icons    : 1.5rem;

  --gray-1        : #4a4a4a;
}