// IMPORTANDO BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";

// OVERRIDES
$primary: hotpink;

body {
    background-color: $primary;
}

a {
    color: var(--gray-1);
    text-decoration: none;
}