// IMPORTANDO BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";

// OVERRIDES
$primary: var(--color-1);

body {
    background-color: $primary;
}

a {
    color: var(--gray-1);
    text-decoration: none;
}

button {
    border: none;
}

input {
    padding: 12px;
    letter-spacing: -.5px;
    font-size: var(--fsz-2);
    height: var(--h-input);
    &:focus-visible {
        outline: none;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}