.header {
    background-color: tomato;
    &__top {
        background-color: lightblue;
    }
    &__main {
        background-color: lightseagreen;
    }
    &__footer {
        background-color: lime;
    }
}